body {
    font-family: sans-serif;
    color: #111;
  }
  
  html,
  body,
  #root {
    margin: 0;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    font-weight: 700;
    align-items: center;
  }
  
  .logo {
    text-decoration: none;
    display: block;
    line-height: 1;
  }
  
  header a,
  header a:focus,
  header a:active,
  header a:visited {
    color: #111;
  }
  
  header a:hover {
    color: #333;
  }
  
  header select {
    margin-left: 1em;
  }
  
  .overview-example__add {
    display: none;
  }
  
  .react-flow__node a {
    font-weight: 700;
    color: #111;
  }
  
  .react-flow__node.dark-node {
    background: #0041d0;
    color: #f8f8f8;
  }
  
  .react-flow__node.dark {
    background: #557;
    color: #f8f8f8;
  }
  
  .react-flow__node-selectorNode {
    font-size: 12px;
    background: #f0f2f3;
    border: 1px solid 555;
    border-radius: 5px;
    text-align: center;
  }
  
  .react-flow__node-selectorNode .react-flow__handle {
    border-color: #f0f2f3;
  }
  
  @media screen and (min-width: 768px) {
    .overview-example__add {
      display: block;
    }
  }

  .updatenode__controls {
    text-align: end;
    font-style: normal;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}



.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
